body {
    background-color: #fdf4ec !important;
    font-family: "Tinos", serif !important;
  }
  
  .navbar {
    background-color: #053069 !important;
  }
  
  .PCLOGO {
    margin-left: 1%;
    margin-right: 25%;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .nav-link {
    color: rgb(253, 244, 236) !important;
    font-size: 14pt;
    font-family: "Tinos", serif;
  }
  
  .nav-link:hover {
    font-size: 15pt;
    font-weight: bold;
    color: rgb(253, 244, 236) !important;
  }
  
  .section-title {
    font-family: "Tinos", serif;
    color: #053069;
    font-size: 28px;
    font-weight: bold;
  }
  
  .title-underline {
    width: 60px;
    height: 3px;
    background-color: #a8303c;
    margin: 10px auto;
    border-radius: 3px;
  }
  
  .project-card {
    background-color: #fff;
    border: 2px solid #eee;
    height: 100%;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .project-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border: 3px solid #053069;
  }
  
  .card-title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  
  .card-text {
    font-size: 14px;
    color: #333;
  }
  